<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <div style="width:85%;margin:auto;">
        <p style="font-family: 'Roboto', sans-serif;font-size: 1.2em;font-weight: 400;line-height: 1.55;color: #222222;margin: 10px 0 30px;padding: 44px 34px 44px 34px;background-color: #ffffff;border-radius: 8px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 210, 190, 129);">
         Hello,<br /><br />

I hope this email finds you well. Its Amalitech Capacity Management System, an organization dedicated to developing human capacity through hiring and project development.
<br /><br />
We are reaching out to invite you to become a member of our organization. We believe that your skills and expertise would be a great asset to our team.
<br /><br />
Our organization provides a platform for professionals from diverse backgrounds to come together and collaborate on projects that have a positive impact on communities. As a member, you will have the opportunity to connect with other professionals, share knowledge, and learn from each other.
<br /> <br />
To accept this invitation, please click the link below.<br /><br />
           <b style="color:#2E86C1"><a href="{{ link }}" style="color:#4CAF50">Click here</a></b><br>
        <strong>NB:</strong><span style="color:OrangeRed">  Remember that this link will expire in {{ expiry_time }} hours.</span>
            <br /><br />

            Best,<br>
            <span>Amalitech ACMS</span>
        </p>
    </div>
</body>
</html>
